html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: Helvetica, sans-serif
}

body {
  min-height: 100%;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.indec {
  &__center {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0.5em;
  }
  &__header {
    text-align: left;
    padding: 0.5em 0;
    background-color: #1E212A;
    color: #f8f8f8;
  }
  &__decision-button {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    box-sizing: border-box;
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #f8f8f8;
    background-color: #8648CA;
    border-radius: 3px;
    cursor: pointer;
    &:disabled {
      background-color: #6d4499;
      cursor: initial;
    }
    &:hover {
      transition: background-color 0.3s ease;
      background-color: #6d4499;
    }
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin: 0;
  }
  &__option {
    color: #ffffff;
    border-radius: 3px;
    &__title {
      display: flex;
      justify-content: space-between;
      background-color: #46495F;
      padding: 0.5em;
      border-radius: 3px;
    }
    &__list {
      background-color: #3B4150;
      padding-top: 0.5em;
      margin-bottom: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      list-style-type: none;
      padding: 0;
      &__list-item {
        border-bottom: 1px solid #6a6969;
        padding: 0.5em;
      }
    }
    &__form {
      background-color: #3B4150;
      padding: 0.5em;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__button {
    height: auto;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
  }
}